<h2>Projects</h2>

<h3>Sakuya Bot</h3>
<a href="https://github.com/TLsoku/SakuyaBot">
    <img src="assets\GH.png" width="50" height="50">
</a>
<ul>
    <li>Open source Discord bot used by 2 servers and over 50 users</li>
    <li>Data stored with AWS using MongoDB</li>
    <li>Track users' anime drafts scores</li>
        <ul>
            <li>A fantasy sports style draft scoring users based on MyAnimeList.com</li>
            <li>Uses Jikan API</li>
        </ul>
    <li>Hosted with AWS</li>
    <li>Also has a website to interact with the bot</li>
    
</ul> 